// .no-flexbox {
// For those super dumb browsers that don't flexbox
	.grid {
		width:100%;
		margin:0 auto;
		max-width: $large-breakpoint;

		&.collapse .clm {
			padding:0;
		}
		.grid {
			width: auto;
			margin-left:$gutter / 2 * -1;
			margin-right:$gutter / 2 * -1;
			max-width: none;
			&:after {
				content: " ";
				display: table;
				clear: both;
			}
			.grid {
				width: auto;
				margin-left:$gutter / 2 * -1;
				margin-right:$gutter / 2 * -1;
				max-width: none;
				&:after {
					content: " ";
					display: table;
					clear: both;
				}
			}
		}
	}

	// column things
	.clm {
		position: relative;
		padding: gutter-maker($gutter);
		padding-top: 0;
		float:left;
		&:first-of-type {
			clear:both;
		}
	}
	.clm.center {
		position: relative;
		padding-right: gutter-maker($gutter);
		padding-left: gutter-maker($gutter);
		padding-bottom: $gutter;
		float:none;
		clear:both;
		margin:0 auto;
	}

	// here's the grid in all of it's gridy-ness
	// small settings
	.s1 {
		width: grid-calc(1);
	}
	.s2 {
		width: grid-calc(2);
	}
	.s3 {
		width: grid-calc(3);
	}
	.s4 {
		width: grid-calc(4);
	}
	.s5 {
		width: grid-calc(5);
	}
	.s6 {
		width: grid-calc(6);
	}
	.s7 {
		width: grid-calc(7);
	}
	.s8 {
		width: grid-calc(8);
	}
	.s9 {
		width: grid-calc(9);
	}
	.s10 {
		width: grid-calc(10);
	}
	.s11 {
		width: grid-calc(11);
	}
	.s12 {
		width: grid-calc(12);
	}

	// medium settings
	.m1 {
		width: grid-calc(1);
	}
	.m2 {
		width: grid-calc(2);
	}
	.m3 {
		width: grid-calc(3);
	}
	.m4 {
		width: grid-calc(4);
	}
	.m5 {
		width: grid-calc(5);
	}
	.m6 {
		width: grid-calc(6);
	}
	.m7 {
		width: grid-calc(7);
	}
	.m8 {
		width: grid-calc(8);
	}
	.m9 {
		width: grid-calc(9);
	}
	.m10 {
		width: grid-calc(10);
	}
	.m11 {
		width: grid-calc(11);
	}
	.m12 {
		width: grid-calc(12);
	}

	// large settings
	.l1 {
		width: grid-calc(1);
	}
	.l2 {
		width: grid-calc(2);
	}
	.l3 {
		width: grid-calc(3);
	}
	.l4 {
		width: grid-calc(4);
	}
	.l5 {
		width: grid-calc(5);
	}
	.l6 {
		width: grid-calc(6);
	}
	.l7 {
		width: grid-calc(7);
	}
	.l8 {
		width: grid-calc(8);
	}
	.l9 {
		width: grid-calc(9);
	}
	.l10 {
		width: grid-calc(10);
	}
	.l11 {
		width: grid-calc(11);
	}
	.l12 {
		width: grid-calc(12);
	}

	// Block Grid
	.block-grid-s1 > li, .block-grid-m1 > li, .block-grid-l1 > li {
		width: block-grid-calc(1);
		display:inline;
		padding: gutter-maker($gutter);
		float:left;
	}
	.block-grid-s2 > li, .block-grid-m2 > li, .block-grid-l2 > li {
		width: block-grid-calc(2);
		display:inline;
		padding: gutter-maker($gutter);
		float:left;
		&:nth-child(n+2):nth-child(odd), &:nth-child(3n+4), &:nth-child(4n+5), &:nth-child(5n+6), &:nth-child(6n+7), &:nth-child(7n+8), &:nth-child(8n+9), &:nth-child(9n+10), &:nth-child(10n+11), &:nth-child(11n+12), &:nth-child(12n+13) {
			clear:none;
		}
		&:nth-child(n+2):nth-child(odd) {
			clear:both;
		}
	}
	.block-grid-s3 > li, .block-grid-m3 > li, .block-grid-l3 > li {
		width: block-grid-calc(3);
		display:inline;
		padding: gutter-maker($gutter);
		float:left;
		position: relative;
		&:nth-child(n+2):nth-child(odd), &:nth-child(3n+4), &:nth-child(4n+5), &:nth-child(5n+6), &:nth-child(6n+7), &:nth-child(7n+8), &:nth-child(8n+9), &:nth-child(9n+10), &:nth-child(10n+11), &:nth-child(11n+12), &:nth-child(12n+13) {
			clear:none;
		}
		&:nth-child(3n+4) {
			clear:both;
		}
	}
	.block-grid-s4 > li, .block-grid-m4 > li, .block-grid-l4 > li {
		width: block-grid-calc(4);
		display:inline;
		padding: gutter-maker($gutter);
		float:left;
		&:nth-child(n+2):nth-child(odd), &:nth-child(3n+4), &:nth-child(4n+5), &:nth-child(5n+6), &:nth-child(6n+7), &:nth-child(7n+8), &:nth-child(8n+9), &:nth-child(9n+10), &:nth-child(10n+11), &:nth-child(11n+12), &:nth-child(12n+13) {
			clear:none;
		}
		&:nth-child(4n+5) {
			clear:both;
		}
	}
	.block-grid-s5 > li, .block-grid-m5 > li, .block-grid-l5 > li {
		width: block-grid-calc(5);
		display:inline;
		padding: gutter-maker($gutter);
		float:left;
		&:nth-child(n+2):nth-child(odd), &:nth-child(3n+4), &:nth-child(4n+5), &:nth-child(5n+6), &:nth-child(6n+7), &:nth-child(7n+8), &:nth-child(8n+9), &:nth-child(9n+10), &:nth-child(10n+11), &:nth-child(11n+12), &:nth-child(12n+13) {
			clear:none;
		}
		&:nth-child(5n+6) {
			clear:both;
		}
	}
	.block-grid-s6 > li, .block-grid-m6 > li, .block-grid-l6 > li {
		width: block-grid-calc(6);
		display:inline;
		padding: gutter-maker($gutter);
		float:left;
		&:nth-child(n+2):nth-child(odd), &:nth-child(3n+4), &:nth-child(4n+5), &:nth-child(5n+6), &:nth-child(7n+8), &:nth-child(8n+9), &:nth-child(9n+10), &:nth-child(10n+11), &:nth-child(11n+12), &:nth-child(12n+13) {
			clear:none;
		}
		&:nth-child(6n+7) {
			clear:both;
		}
	}
	.block-grid-s7 > li, .block-grid-m7 > li, .block-grid-l7 > li {
		width: block-grid-calc(7);
		display:inline;
		padding: gutter-maker($gutter);
		float:left;
		&:nth-child(n+2):nth-child(odd), &:nth-child(3n+4), &:nth-child(4n+5), &:nth-child(5n+6), &:nth-child(6n+7), &:nth-child(7n+8), &:nth-child(8n+9), &:nth-child(9n+10), &:nth-child(10n+11), &:nth-child(11n+12), &:nth-child(12n+13) {
			clear:none;
		}
		&:nth-child(7n+8) {
			clear:both;
		}
	}
	.block-grid-s8 > li, .block-grid-m8 > li, .block-grid-l8 > li {
		width: block-grid-calc(8);
		display:inline;
		padding: gutter-maker($gutter);
		float:left;
		&:nth-child(n+2):nth-child(odd), &:nth-child(3n+4), &:nth-child(4n+5), &:nth-child(5n+6), &:nth-child(6n+7), &:nth-child(7n+8), &:nth-child(8n+9), &:nth-child(9n+10), &:nth-child(10n+11), &:nth-child(11n+12), &:nth-child(12n+13) {
			clear:none;
		}
		&:nth-child(8n+9) {
			clear:both;
		}
	}
	.block-grid-s9 > li, .block-grid-m9 > li, .block-grid-l9 > li {
		width: block-grid-calc(9);
		display:inline;
		padding: gutter-maker($gutter);
		float:left;
		&:nth-child(n+2):nth-child(odd), &:nth-child(3n+4), &:nth-child(4n+5), &:nth-child(5n+6), &:nth-child(6n+7), &:nth-child(7n+8), &:nth-child(8n+9), &:nth-child(9n+10), &:nth-child(10n+11), &:nth-child(11n+12), &:nth-child(12n+13) {
			clear:none;
		}
		&:nth-child(9n+10) {
			clear:both;
		}
	}
	.block-grid-s10 > li, .block-grid-m10 > li, .block-grid-l10 > li {
		width: block-grid-calc(10);
		display:inline;
		padding: gutter-maker($gutter);
		float:left;
		&:nth-child(n+2):nth-child(odd), &:nth-child(3n+4), &:nth-child(4n+5), &:nth-child(5n+6), &:nth-child(6n+7), &:nth-child(7n+8), &:nth-child(8n+9), &:nth-child(9n+10), &:nth-child(10n+11), &:nth-child(11n+12), &:nth-child(12n+13) {
			clear:none;
		}
		&:nth-child(10n+11) {
			clear:both;
		}
	}
	.block-grid-s11 > li, .block-grid-m11 > li, .block-grid-l11 > li {
		width: block-grid-calc(11);
		display:inline;
		padding: gutter-maker($gutter);
		float:left;
		&:nth-child(n+2):nth-child(odd), &:nth-child(3n+4), &:nth-child(4n+5), &:nth-child(5n+6), &:nth-child(6n+7), &:nth-child(7n+8), &:nth-child(8n+9), &:nth-child(9n+10), &:nth-child(10n+11), &:nth-child(11n+12), &:nth-child(12n+13) {
			clear:none;
		}
		&:nth-child(11n+12) {
			clear:both;
		}
	}
	.block-grid-s12 > li, .block-grid-m12 > li, .block-grid-l12 > li {
		width: block-grid-calc(12);
		display:inline;
		padding: gutter-maker($gutter);
		float:left;
		&:nth-child(n+2):nth-child(odd), &:nth-child(3n+4), &:nth-child(4n+5), &:nth-child(5n+6), &:nth-child(6n+7), &:nth-child(7n+8), &:nth-child(8n+9), &:nth-child(9n+10), &:nth-child(10n+11), &:nth-child(11n+12), &:nth-child(12n+13) {
			clear:none;
		}
		&:nth-child(12n+13) {
			clear:both;
		}
	}


	// large breakpoint
	@media (min-width: $large-breakpoint) {
		.l-clear {
			clear:left;
		}
		// Breakpoint Shuffle
		.l-pull-25 {
			position: relative;
			left: auto;
			right: grid-calc(3);
		}
		.l-pull-33 {
			position: relative;
			left: auto;
			right: grid-calc(4);
		}
		.l-pull-50 {
			position: relative;
			left: auto;
			right: grid-calc(6);
		}
		.l-pull-66 {
			position: relative;
			left: auto;
			right: grid-calc(8);
		}
		.l-pull-75 {
			position: relative;
			left: auto;
			right: grid-calc(9);
		}

		.block-grid-l1 > li {
			width: block-grid-calc(1);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
		}
		.block-grid-l2 > li {
			width: block-grid-calc(2);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			&:nth-child(n+2):nth-child(odd) {
				clear:both !important;
			}
		}
		.block-grid-l3 > li {
			width: block-grid-calc(3);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			position: relative;
			&:nth-child(3n+4) {
				clear:both !important;
			}
		}
		.block-grid-l4 > li {
			width: block-grid-calc(4);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			&:nth-child(4n+5) {
				clear:both !important;
			}
		}
		.block-grid-l5 > li {
			width: block-grid-calc(5);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			&:nth-child(5n+6) {
				clear:both !important;
			}
		}
		.block-grid-l6 > li {
			width: block-grid-calc(6);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			&:nth-child(6n+7) {
				clear:both !important;
			}
		}
		.block-grid-l7 > li {
			width: block-grid-calc(7);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			&:nth-child(7n+8) {
				clear:both !important;
			}
		}
		.block-grid-l8 > li {
			width: block-grid-calc(8);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			&:nth-child(8n+9) {
				clear:both !important;
			}
		}
		.block-grid-l9 > li {
			width: block-grid-calc(9);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			&:nth-child(9n+10) {
				clear:both !important;
			}
		}
		.block-grid-l10 > li {
			width: block-grid-calc(10);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			&:nth-child(10n+11) {
				clear:both !important;
			}
		}
		.block-grid-l11 > li {
			width: block-grid-calc(11);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			&:nth-child(11n+12) {
				clear:both !important;
			}
		}
		.block-grid-l12 > li {
			width: block-grid-calc(12);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			&:nth-child(12n+13) {
				clear:both !important;
			}
		}

		.l-push-25 {
			position: relative;
			right: auto;
			left: grid-calc(3);
		}
		.l-push-33 {
			position: relative;
			right: auto;
			left: grid-calc(4);
		}
		.l-push-50 {
			position: relative;
			right: auto;
			left: grid-calc(6);
		}
		.l-push-66 {
			position: relative;
			right: auto;
			left: grid-calc(8);
		}
		.l-push-75 {
			position: relative;
			right: auto;
			left: grid-calc(9);
		}
	}

	// medium breakpoint
	@media (max-width: $medium-breakpoint) and (min-width: $small-breakpoint) {
		.s1 {
			width: grid-calc(1);
		}
		.s2 {
			width: grid-calc(2);
		}
		.s3 {
			width: grid-calc(3);
		}
		.s4 {
			width: grid-calc(4);
		}
		.s5 {
			width: grid-calc(5);
		}
		.s6 {
			width: grid-calc(6);
		}
		.s7 {
			width: grid-calc(7);
		}
		.s8 {
			width: grid-calc(8);
		}
		.s9 {
			width: grid-calc(9);
		}
		.s10 {
			width: grid-calc(10);
		}
		.s11 {
			width: grid-calc(11);
		}
		.s12 {
			width: grid-calc(12);
		}
		.m-clear {
			clear:left;
		}
		.m1 {
			width: grid-calc(1);
		}
		.m2 {
			width: grid-calc(2);
		}
		.m3 {
			width: grid-calc(3);
		}
		.m4 {
			width: grid-calc(4);
		}
		.m5 {
			width: grid-calc(5);
		}
		.m6 {
			width: grid-calc(6);
		}
		.m7 {
			width: grid-calc(7);
		}
		.m8 {
			width: grid-calc(8);
		}
		.m9 {
			width: grid-calc(9);
		}
		.m10 {
			width: grid-calc(10);
		}
		.m11 {
			width: grid-calc(11);
		}
		.m12 {
			width: grid-calc(12);
		}

		.block-grid-m1 > li {
			width: block-grid-calc(1);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
		}
		.block-grid-m2 > li {
			width: block-grid-calc(2);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			&:nth-child(n+2):nth-child(odd) {
				clear:both !important;
			}
		}
		.block-grid-m3 > li {
			width: block-grid-calc(3);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			position: relative;
			&:nth-child(3n+4) {
				clear:both !important;
			}
		}
		.block-grid-m4 > li {
			width: block-grid-calc(4);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			&:nth-child(4n+5) {
				clear:both !important;
			}
		}
		.block-grid-m5 > li {
			width: block-grid-calc(5);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			&:nth-child(5n+6) {
				clear:both !important;
			}
		}
		.block-grid-m6 > li {
			width: block-grid-calc(6);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			&:nth-child(6n+7) {
				clear:both !important;
			}
		}
		.block-grid-m7 > li {
			width: block-grid-calc(7);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			&:nth-child(7n+8) {
				clear:both !important;
			}
		}
		.block-grid-m8 > li {
			width: block-grid-calc(8);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			&:nth-child(8n+9) {
				clear:both !important;
			}
		}
		.block-grid-m9 > li {
			width: block-grid-calc(9);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			&:nth-child(9n+10) {
				clear:both !important;
			}
		}
		.block-grid-m10 > li {
			width: block-grid-calc(10);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			&:nth-child(10n+11) {
				clear:both !important;
			}
		}
		.block-grid-m11 > li {
			width: block-grid-calc(11);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			&:nth-child(11n+12) {
				clear:both !important;
			}
		}
		.block-grid-m12 > li {
			width: block-grid-calc(12);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			&:nth-child(12n+13) {
				clear:both !important;
			}
		}


		// Breakpoint Shuffle
		.m-pull-25 {
			position: relative;
			left: auto;
			right: grid-calc(3);
		}
		.m-pull-33 {
			position: relative;
			left: auto;
			right: grid-calc(4);
		}
		.m-pull-50 {
			position: relative;
			left: auto;
			right: grid-calc(6);
		}
		.m-pull-66 {
			position: relative;
			left: auto;
			right: grid-calc(8);
		}
		.m-pull-75 {
			position: relative;
			left: auto;
			right: grid-calc(9);
		}

		.m-push-25 {
			position: relative;
			right: auto;
			left: grid-calc(3);
		}
		.m-push-33 {
			position: relative;
			right: auto;
			left: grid-calc(4);
		}
		.m-push-50 {
			position: relative;
			right: auto;
			left: grid-calc(6);
		}
		.m-push-66 {
			position: relative;
			right: auto;
			left: grid-calc(8);
		}
		.m-push-75 {
			position: relative;
			right: auto;
			left: grid-calc(9);
		}
	}

	// small breakpoint
	@media (max-width: $small-breakpoint) {
		.s-clear {
			clear:left;
		}
		.s1 {
			width: grid-calc(1);

		}
		.s2 {
			width: grid-calc(2);

		}
		.s3 {
			width: grid-calc(3);

		}
		.s4 {
			width: grid-calc(4);

		}
		.s5 {
			width: grid-calc(5);

		}
		.s6 {
			width: grid-calc(6);

		}
		.s7 {
			width: grid-calc(7);

		}
		.s8 {
			width: grid-calc(8);

		}
		.s9 {
			width: grid-calc(9);

		}
		.s10 {
			width: grid-calc(10);

		}
		.s11 {
			width: grid-calc(11);

		}
		.s12 {
			width: grid-calc(12);

		}
		.grid .grid .s12 {
			padding-right: 15px;
		}

		.block-grid-s1 > li {
			width: block-grid-calc(1);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
		}
		.block-grid-s2 > li {
			width: block-grid-calc(2);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			&:nth-child(2n+3) {
				clear:both !important;
			}
		}
		.block-grid-s3 > li {
			width: block-grid-calc(3);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			position: relative;
			&:nth-child(3n+4) {
				clear:both !important;
			}
		}
		.block-grid-s4 > li {
			width: block-grid-calc(4);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			&:nth-child(4n+5) {
				clear:both !important;
			}
		}
		.block-grid-s5 > li {
			width: block-grid-calc(5);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			&:nth-child(5n+6) {
				clear:both !important;
			}
		}
		.block-grid-s6 > li {
			width: block-grid-calc(6);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			&:nth-child(6n+7) {
				clear:both !important;
			}
		}
		.block-grid-s7 > li {
			width: block-grid-calc(7);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			&:nth-child(7n+8) {
				clear:both !important;
			}
		}
		.block-grid-s8 > li {
			width: block-grid-calc(8);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			&:nth-child(8n+9) {
				clear:both !important;
			}
		}
		.block-grid-s9 > li {
			width: block-grid-calc(9);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			&:nth-child(9n+10) {
				clear:both !important;
			}
		}
		.block-grid-s10 > li {
			width: block-grid-calc(10);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			&:nth-child(10n+11) {
				clear:both !important;
			}
		}
		.block-grid-s11 > li {
			width: block-grid-calc(11);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			&:nth-child(11n+12) {
				clear:both !important;
			}
		}
		.block-grid-s12 > li {
			width: block-grid-calc(12);
			display:inline;
			padding: gutter-maker($gutter);
			float:left;
			&:nth-child(12n+13) {
				clear:both !important;
			}
		}

		.s-pull-25 {
			position: relative;
			left: auto;
			right: grid-calc(3);
		}
		.s-pull-33 {
			position: relative;
			left: auto;
			right: grid-calc(4);
		}
		.s-pull-50 {
			position: relative;
			left: auto;
			right: grid-calc(6);
		}
		.s-pull-66 {
			position: relative;
			left: auto;
			right: grid-calc(8);
		}
		.s-pull-75 {
			position: relative;
			left: auto;
			right: grid-calc(9);
		}

		.s-push-25 {
			position: relative;
			right: auto;
			left: grid-calc(3);
		}
		.s-push-33 {
			position: relative;
			right: auto;
			left: grid-calc(4);
		}
		.s-push-50 {
			position: relative;
			right: auto;
			left: grid-calc(6);
		}
		.s-push-66 {
			position: relative;
			right: auto;
			left: grid-calc(8);
		}
		.s-push-75 {
			position: relative;
			right: auto;
			left: grid-calc(9);
		}
	}
// }