// Tables sometimes are good
table {
	width: 100%;
	background: $table-bg;
	border:1px solid $table-border-color;
	font-family: $body-copy;
	font-size: $body-copy-font-size;
	tr:nth-child(even) {
		background: $table-alt-row;
	}
	tr:nth-child(odd) {
		background: $table-bg;
	}
	tr {
		td {
			padding:1em;
			position: relative;
			vertical-align: middle;
			select {
				top:1em;
				margin-bottom: 0;
			}
		}
		th {
			padding:1em;
			background: $table-th-bg;
			color:  $table-th-color;
			vertical-align: middle;
		}

	}
}