// Brock Holt Classes

// Not sure where else to put this
hr {
	border-top:$hr-size solid $hr-top-color;
	border-bottom:$hr-size solid $hr-bottom-color;
	border-left:none;
	border-right:none;
}

// Text Related
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}


// Not Text Related
.center {
	margin:0 auto;
	display: block;
}
.round {
	border-radius: 1000px;
}
.rounded {
	border-radius:$global-radius;
}

// show hide based on breakpoints
@media (min-width: $large-breakpoint) {
	.l-show {
		display: block;
	}
	.l-hide, .m-show, .s-show {
		display: none;
	}
}

@media (max-width: $large-breakpoint) {
	.m-show {
		display: block;
	}
	.m-hide, .l-show, .s-show {
		display: none;
	}
}

@media (max-width: $medium-breakpoint) {
	.s-show {
		display: block;
	}
	.s-hide, .l-show, .m-show {
		display: none;
	}
}


// this has to stay at the bottom of the stylesheet so it doesn't get over written by other styles
.no-show {
	display: none;
}